<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
               <link rel="stylesheet" href="static/style.css"/>
    <div class="nav">
    <ul>
        <li><a href="/">首页</a></li>
        <li><a href="/2">2</a></li>
        <li><a href="/3">3</a></li>
        <li><a href="/4">4</a></li>
        <li><a href="/result">总结</a></li>
    </ul>

</div>
        <style type="text/css">
        /*去掉ul的样式*/
        ul{
            list-style:none;
        }
        /*去掉a标签的下划线*/
        a{
            text-decoration: none;
        }
        /*设置.nav的宽高、居中显示、下边框样式*/
        .nav{
            width: 970px;
            height: 25px;
            margin: 0 auto;
            border-bottom: 2px solid #0266A3;
        }
        /*line-height: 25px;与父元素.nav的height一样，使得li居中显示*/
        .nav li{
            padding:0 15px 0 15px;
            line-height: 25px;
            float: left;
            font-size: 14px;
            font-weight: bold;
        }
        /*a标签不能继承父标签的颜色，所以需要单独设置a标签中的字体颜色*/
        .nav li a{
            color: #0266A3;
        }
        /*当鼠标移动到li标签时，背景颜色变成#0266A3，出现一个盒阴影*/
        .nav li:hover{
            background-color:#0266A3 ;
            box-shadow: 5px 5px 5px black;
        }
        /*当鼠标移动到li标签时，a标签中的字体颜色变成#0266A3*/
        .nav  li:hover  a{
            color: white;
        }
    </style>
</head>
<body>
<div align="center">
    <div id="ae27ae22c3b649f297aab600455ca533" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_ae27ae22c3b649f297aab600455ca533 = echarts.init(
            document.getElementById('ae27ae22c3b649f297aab600455ca533'), 'white', {renderer: 'canvas'});
        var option_ae27ae22c3b649f297aab600455ca533 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u80fd\u6e90\u751f\u4ea7\u603b\u91cf(\u4e07\u5428\u6807\u51c6\u7164)",
            "data": [
                377000,
                358500,
                346037.31,
                361476,
                361866
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u80fd\u6e90\u6d88\u8d39\u603b\u91cf(\u4e07\u5428\u6807\u51c6\u7164)",
            "data": [
                464000,
                448529.14,
                435819,
                429905,
                425806
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u539f\u7164\u751f\u4ea7\u603b\u91cf(\u4e07\u5428\u6807\u51c6\u7164)",
            "data": [
                261261,
                249516,
                241534,
                260985.67,
                266333.38
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u7164\u70ad\u6d88\u8d39\u603b\u91cf(\u4e07\u5428\u6807\u51c6\u7164)",
            "data": [
                273760,
                270911.52,
                270207.78,
                273849.49,
                279328.74
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u539f\u6cb9\u751f\u4ea7\u603b\u91cf(\u4e07\u5428\u6807\u51c6\u7164)",
            "data": [
                27144,
                27246,
                28375.06,
                30725.46,
                30396.74
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u77f3\u6cb9\u6d88\u8d39\u603b\u91cf(\u4e07\u5428\u6807\u51c6\u7164)",
            "data": [
                87696,
                84323.45,
                80626.52,
                78672.62,
                74090.24
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u5929\u7136\u6c14\u751f\u4ea7\u603b\u91cf(\u4e07\u5428\u6807\u51c6\u7164)",
            "data": [
                20735,
                19359,
                17993.94,
                17350.85,
                17007.7
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u5929\u7136\u6c14\u6d88\u8d39\u603b\u91cf(\u4e07\u5428\u6807\u51c6\u7164)",
            "data": [
                36192,
                31397.03,
                27020.78,
                25364.4,
                24270.94
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u80fd\u6e90\u751f\u4ea7\u603b\u91cf(\u4e07\u5428\u6807\u51c6\u7164)",
                "\u80fd\u6e90\u6d88\u8d39\u603b\u91cf(\u4e07\u5428\u6807\u51c6\u7164)",
                "\u539f\u7164\u751f\u4ea7\u603b\u91cf(\u4e07\u5428\u6807\u51c6\u7164)",
                "\u7164\u70ad\u6d88\u8d39\u603b\u91cf(\u4e07\u5428\u6807\u51c6\u7164)",
                "\u539f\u6cb9\u751f\u4ea7\u603b\u91cf(\u4e07\u5428\u6807\u51c6\u7164)",
                "\u77f3\u6cb9\u6d88\u8d39\u603b\u91cf(\u4e07\u5428\u6807\u51c6\u7164)",
                "\u5929\u7136\u6c14\u751f\u4ea7\u603b\u91cf(\u4e07\u5428\u6807\u51c6\u7164)",
                "\u5929\u7136\u6c14\u6d88\u8d39\u603b\u91cf(\u4e07\u5428\u6807\u51c6\u7164)"
            ],
            "selected": {
                "\u80fd\u6e90\u751f\u4ea7\u603b\u91cf(\u4e07\u5428\u6807\u51c6\u7164)": true,
                "\u80fd\u6e90\u6d88\u8d39\u603b\u91cf(\u4e07\u5428\u6807\u51c6\u7164)": true,
                "\u539f\u7164\u751f\u4ea7\u603b\u91cf(\u4e07\u5428\u6807\u51c6\u7164)": true,
                "\u7164\u70ad\u6d88\u8d39\u603b\u91cf(\u4e07\u5428\u6807\u51c6\u7164)": true,
                "\u539f\u6cb9\u751f\u4ea7\u603b\u91cf(\u4e07\u5428\u6807\u51c6\u7164)": true,
                "\u77f3\u6cb9\u6d88\u8d39\u603b\u91cf(\u4e07\u5428\u6807\u51c6\u7164)": true,
                "\u5929\u7136\u6c14\u751f\u4ea7\u603b\u91cf(\u4e07\u5428\u6807\u51c6\u7164)": true,
                "\u5929\u7136\u6c14\u6d88\u8d39\u603b\u91cf(\u4e07\u5428\u6807\u51c6\u7164)": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2018",
                "2017",
                "2016",
                "2015",
                "2014"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u80fd\u6e90",
            "subtext": "\u751f\u4ea7-\u6d88\u8d39\u5bf9\u6bd4"
        }
    ]
};
        chart_ae27ae22c3b649f297aab600455ca533.setOption(option_ae27ae22c3b649f297aab600455ca533);
    </script>
</div>
</body>
</html>
