<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="4f93a877af9c4787a0adfa7f01510d25" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_4f93a877af9c4787a0adfa7f01510d25 = echarts.init(
            document.getElementById('4f93a877af9c4787a0adfa7f01510d25'), 'white', {renderer: 'canvas'});
        var option_4f93a877af9c4787a0adfa7f01510d25 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u56fd\u6c11\u603b\u6536\u5165(\u4ebf\u5143)",
            "data": [
                820099,
                737074,
                683390,
                642097.6
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u6cbb\u7406\u5e9f\u6c14\u9879\u76ee\u5b8c\u6210\u6295\u8d44(\u4e07\u5143)",
            "data": [
                1008,
                846,
                658,
                594
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u56fd\u6c11\u603b\u6536\u5165(\u4ebf\u5143)",
                "\u6cbb\u7406\u5e9f\u6c14\u9879\u76ee\u5b8c\u6210\u6295\u8d44(\u4e07\u5143)"
            ],
            "selected": {
                "\u56fd\u6c11\u603b\u6536\u5165(\u4ebf\u5143)": true,
                "\u6cbb\u7406\u5e9f\u6c14\u9879\u76ee\u5b8c\u6210\u6295\u8d44(\u4e07\u5143)": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2017",
                "2016",
                "2015",
                "2014"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u7ecf\u6d4e\u5173\u7cfb",
            "subtext": "\u6536\u5165\u4e0e\u6295\u8d44"
        }
    ]
};
        chart_4f93a877af9c4787a0adfa7f01510d25.setOption(option_4f93a877af9c4787a0adfa7f01510d25);
    </script>
</body>
</html>
